<launch>
  <!-- Simulation settings-->
  <arg name="scan" default="/m_robot/laser/scan" />

  <!-- Robot parametrs-->
  <arg name="world_frame" default="world_frame" />
  <arg name="robot_name" default="m_robot"/>
  <arg name="wheel_radius" default="0.05"/>
  <arg name="span" default="0.2036" />

  <!-- Start possition -->
  <arg name="x" default="0" />
  <arg name="y" default="0" />
  <arg name="z" default="0" />

  <!-- RPLidar A1 start -->
  <include file="$(find rplidar_ros)/launch/rplidar.launch">
      <arg name="scanTopic" value="$(arg scan)" />
      <arg name="lidarFrame" value="$(arg robot_name)" />
  </include>

  <!-- Start m_controller for control velocity o robot-->
  <include file="$(find m_controller)/launch/m_controller.launch" >
        <arg name="radius" value="$(arg wheel_radius)" />
        <arg name="freq" value="50" /> 
        <arg name="span" value="$(arg span)"/>

        <arg name="x" value="($arg x)" />
        <arg name="y" value="($arg y)" />
        <arg name="z" value="($arg z)" />
  </include>

  <!--Start odometry node-->
  <include file="$(find m_odometry)/launch/m_odometry.launch" >
        <arg name="x" value="$(arg x)" />
        <arg name="y" value="$(arg y)" />
        <arg name="z" value="$(arg z)" />

        <arg name="robot_name" value="$(arg robot_name)" />
        <arg name="world_frame" value="$(arg world_frame)" />
        <arg name="freq" value="50" />
        <arg name="span" value="$(arg span)" />
        <arg name="radius" value="$(arg wheel_radius)" />
        <arg name="simul" value="false"/>
  </include> 

   <node type="rviz" name="rviz" pkg="rviz" args="-span $(find m_robot)/rviz/m_robot.rviz" />

</launch>