<launch>
    <arg name="scanTopic" default="/m_robot/laser/scan" />
    <arg name="lidarFrame" default="m_robot" />

    <node name="rplidarNode"          pkg="rplidar_ros"  type="rplidarNode" output="screen">
    <param name="serial_port"         type="string" value="/dev/ttyUSB0"/>
    <param name="serial_baudrate"     type="int"    value="115200"/><!--A1/A2 -->
    <param name="frame_id"            type="string" value="$(arg lidarFrame)"/>
    <param name="inverted"            type="bool"   value="false"/>
    <param name="angle_compensate"    type="bool"   value="true"/>
    <param name="scan_mode"           type="string"  value="Standard"/>

    <remap from="scan" to="$(arg scanTopic)" />
  </node>
</launch>
